<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @profile.author_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @profile.birth %>
</p>

<p>
  <strong>Death:</strong>
  <%= @profile.death %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
